<form action = "/jobs" method= "post">
  <label for="title">Add a job title: </label>
  <input id="title" name="title" type="text">
  <label for="description">Add a job description: </label>
  <input id="description" name="description" type="text">
  <label for="contactInfo">Enter your contact info: </label>
  <input id="contactInfo" name="contactInfo" type="text">
</form>