
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Job Board</title>
</head>
<body>
  <h1>Available Jobs:</h1>
  <a href="/jobs/new">Add a job posting</a>
  <a href="/jobs">View all job postings</a>
  <a href="/jobs/deleted">View Deleted Postings</a>
</body>
</html>
