@using JobBoard.Models;

<h1>Job Details:</h1>

<h2>@Model.Title</h2>
<h4>Job Description: @Model.Description<h4>
<p>Contact the job poster: @Model.ContactInfo</p>


<a href="/jobs/new">Add another job</a>
<a href="/jobs">View all jobs</a>